body {
    max-width: 600px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.5;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

button.qrcode {
    position: absolute;
    right: 2rem;
}

dialog img.qrcode {
    width: 300px;
    max-width: 75vw;
}

dialog button.icon.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

input, select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

select[multiple] {
    height: 8rem;
}

button {
    cursor: pointer;
}

button:not(.icon),
a[role="button"]:not(.icon) {
    padding: 0.75rem 1.5rem;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

button:not(.icon):hover,
a[role="button"]:not(.icon):hover {
    background-color: #0052a3;
}

button.icon,
a.icon[role="button"]{
    background-color: inherit;
    border: none;
    padding: 0;
}

.hand-form {
    display: grid;
    grid-template-columns: 10rem 1fr;
    align-items: baseline;
    row-gap: 1rem;
}

.hand-form label {
    grid-column: 1;
}

.hand-form input, .hand-form select {
    grid-column: 2;
}

.hand-form input[type="checkbox"] {
    justify-self: start;
}

table.hands td,
table.hands th {
    white-space: nowrap;
    vertical-align: top;
}

div.cols {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}